{% extends 'base.html' %}

{% block title %}¿Olvidate tu contraseña?{% endblock %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/registro.css' %}">
</head>
<div class="container">
    <h2 class="form__top">¿Olvidate tu<span> contraseña?</span></h2>
    <p>Ingrese su dirección de correo electrónico a continuación, y le enviaremos instrucciones para configurar una nueva.</p>

    <form method="POST" class="form__reg">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btn__form">
          <input type="submit" class="btn__submit" value="Envienme instrucciones!">
      </div>
    </form>
  </div>
</div>
{% endblock %}