


 {% extends 'base.html' %}
<!-- 
{% block title %}Ingreso{% endblock %}
 -->
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/galeria.css' %}">
</head>

<div class="container">
    <h2 class="form__top">Galeria<span>Perros</span></h2>
    {% if perros %}
   <div class="formreg">
        {% for perro in perros %}
        <img src="{{ perro.picture.url }}" alt="Estados de los perros">
        <br>
        <p><b>Nombre:</b>{{ perro.Nombre }}</p>
        <br>
        <p><b>Raza:</b>{{ perro.Raza }}</p>
        <br>
        <p><b>Caracteristicas:</b>{{ perro.Caracteristicas }}</p>
        <br>
        <p><b>Estado:</b>{{ perro.estado }}</p>
        <br>
        <br>
        <hr>
        <br>
        <br>
        {% endfor %}
   </div>
    {% else %}
    <p>No hay perros</p>
    {% endif %}
</div>



{% endblock %}


