{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/registro.css' %}">
</head>
<div class="container">
    <div class="form__top">
        <h2>Inicio de <span>Sesión</span></h2>
    </div>		
    <form class="form__reg" method="POST">
        {% csrf_token %}
        <input id="txtNombre" class="input" name="username" type="text" maxlength="15" minlength="3" placeholder="&#128100;  Nombre" required>
        <input class="input" type="password" name="password" maxlength="10" minlength="6" placeholder="&#128100; Passwd" required>
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Iniciar">
            <input class="btn__reset" type="reset" value="LIMPIAR">	
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Necesitas una cuenta? <a href="{% url 'registrar' %}" class="text">Registrate</a>
            </small>
        </div>
    </form> 
    
</div>



{% endblock content %}