{% load static %}
<html>
    <head>
        <title>Mis Perris</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'styles/estil.css' %}">
        <link rel="stylesheet" href="{% static 'static/img' %}">
        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'styles/fontello.css' %}">
        <link rel="stylesheet" href="{% static 'styles/estilos.css' %}">
        <link href="https://file.myfontastic.com/K2Hqyt9UZyx6J7D9gx4cYM/icons.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="{% static 'styles/estil.css' %}"> -->
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <header>
                    <div class="contenedor">
                        <h1 class="icon-dog">Mis Perris</h1>
                        <input type="checkbox" id="menu-bar">
                        <label class="icon-menu" for="menu-bar"></label>
                        <nav class="menu">
                            <a href="#">Inicio</a>
                            <a href="#">Registro</a>
                            <a href="#">Contacto</a>
                        </nav>
                    </div>
            </header>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}                                                
                </div>
            </div>
        </div>

        <footer class="footer">
                <div class="social">
                   <a href="" class="icon-facebook"></a>
                   <a href="" class="icon-twitter"></a>
                   <a href="" class="icon-gplus"></a>
                </div>
                <p class="copy">&copy; Mis perris 2018 - Todos los derechos reservados. </p>
            </footer>

    </body>
</html>