{% extends 'base.html' %}

{% block title %}Ingreso{% endblock %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/registro.css' %}">
</head>

<div class="container">
    <div class="form__top">
        <h2>Formulario <span>Login</span></h2>
    </div>	
    <form method="post" class="form__reg">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btn__form">
        <button type="submit" class="btn__submit">Ingresar</button>
        <input class="btn__reset" type="reset" value="LIMPIAR">
      </div>
    </form>
</div>
{% endblock %}