<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Mis Perris{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'styles/estil.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'styles/estilos.css' %}">
    <link href="https://file.myfontastic.com/K2Hqyt9UZyx6J7D9gx4cYM/icons.css" rel="stylesheet">
    
</head>
<body>

    <header>
        <div class="contenedor">
            <h1 class="icon-dog">Mis Perris</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="#">Registro</a>
                <a href="{% url 'login' %}">Inicio Sesión</a>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="social">
           <a href="" class="icon-facebook"></a>
           <a href="" class="icon-twitter"></a>
           <a href="" class="icon-gplus"></a>
        </div>
        <p class="copy">&copy; Mis perris 2018 - Todos los derechos reservados. </p>
    </footer>

    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>